*.pyc
AnimeverseChronicles-MultiverseWar/__pycache__/archer.cpython-311.pyc
*.pyc
AnimeverseChronicles-MultiverseWar/__pycache__/Gameplay.cpython-311.pyc
AnimeverseChronicles-MultiverseWar/__pycache__/Gameplay.cpython-311.pyc
AnimeverseChronicles-MultiverseWar/__pycache__/settings.cpython-311.pyc
